<h3> <%= link_to "Today", today_path %> </h3>
<h3> <%= link_to "Tomorrow", tomorrow_path %> </h3>
<h3> <%= link_to "This Week", this_week_path %> </h3>
<h3> <%= link_to "Next Week", next_week_path %> </h3>
<br>
<h3> <%= link_to "Past Events", past_path %> </h3>