<h3> <%= link_to "Today", today_path %> </h3>
<h3> <%= link_to "Tomorrow", tomorrow_path %> </h3>
<h3> <%= link_to "Next Week" %> </h3>
<h3> <%= link_to "Next Month" %> </h3>
<br>
<h3> <%= link_to "Past Events" %> </h3>