<% content_for :sidebar do %>

  <%= render "sidebar" %>

<% end %>

<ul class="nav nav-tabs">
    <li><%= link_to "Events Feed", organiser_path(@organiser) %> </li>
  <li class="active">
    <%= link_to "Your Events", hosting_path(@organiser) %>
  </li>
  <li><%= link_to "Similar to You", similar_path(@organiser) %></li>
  <li><%= link_to "Recommended Events", recommended_path(@organiser) %></li>
</ul>

<% if @organiser.events.count != 0 %>
  <h3> Events You're Hosting </h3>
<% else %>
  <div> You're not hosting any events </div>
  <%= link_to "Create one?", new_organiser_event_path(@organiser) %>
<% end %>

<% @organiser.events.each do |e| %>
  <h3> <%= link_to e.title, organiser_event_path(e.organiser, e) %> </h3>
  <div> <b> Starts: </b> <%= e.start_date %> </div>
  <h4> <%= link_to e.url, "http://#{e.url}" %> </h4>
  <div> <%= truncate(e.description, :length => 200) %> 
    <%= link_to "(Continue)", organiser_event_path(e.organiser, e) %> </div>

  <h4> Hosted by: <%=link_to e.organiser.name, organiser_profile_path(e.organiser) %> </h4>

  <div> <%= button_to "Cancel This Event", organiser_path(current_organiser), :method => :get, :class => "btn btn-danger" %> </div>

  <div> <b> People going to this event: </b>
    <%= e.organiser.name %>
    <% e.members.each do |m| %>
      , <%= m.name %>
    <% end %>
  </div>

<% end %>
