<% content_for :sidebar do %>

  <%= render "sidebar" %>

<% end %>

<ul class="nav nav-tabs">
    <li><%= link_to "Events Feed", organiser_path(@organiser) %> </li>
  <li class="active">
    <%= link_to "Hosted Events", hosting_path(@organiser) %>
  </li>
  <li><%= link_to "Going To", going_to_path(@organiser) %></li>
  <li><%= link_to "Similar to You", similar_path(@organiser) %></li>
  <li><%= link_to "Recommended Events", recommended_path(@organiser) %></li>
</ul>

<% if @organiser.events.count != 0 %>
  <h3> Events You're Hosting </h3>
<% else %>
  <div> You're not hosting any events </div>
  <%= link_to "Create one?", new_organiser_event_path(@organiser) %>
<% end %>

<% @organiser.events.each do |e| %>

  <div class="row">
    <div class="span3"> 
      <h3> <%= link_to e.title, organiser_event_path(e.organiser, e) %> </h3>
      <%= image_tag e.image_url %> 
    </div>
    <div> </div>
    <div class="span4"> 
      <br>
        <% if e.start_date != nil %>
      <div> <b> Starts: </b> <%= e.start_date.strftime('%A, %d %B, %Y - %H:%M') %> </div>
        <% end %>
      <h4> <%= link_to e.url, "http://#{e.url}" %> </h4>
      <div> <%= truncate(e.description, :length => 200) %> 
        <%= link_to "(Continue)", organiser_event_path(e.organiser, e) %> </div>

      <h4> Hosted by: <%=link_to e.organiser.name, organiser_profile_path(e.organiser) %> </h4>
    </div>
  </div>
  <br>

  <div> <%= button_to "Cancel This Event", organiser_path(current_organiser), :method => :get, :class => "btn btn-danger" %> </div>

  <div> <b> People going to this event: </b>
    <%= e.organiser.name %>
    <% e.members.each do |m| %>
      , <%= m.name %>
    <% end %>
  </div>

<% end %>
