<h2>
  <%= @organiser.apostrophe_position %> profile 
</h2>

<div> 
<% if @organiser == current_organiser %>
  <%= link_to "Edit Profile", edit_organiser_path %>
<% end %>
</div>

<div>
  <%= @organiser.bio %>
</div>

<div class="sidebar span4">
  <% if @organiser = current_organiser %>
    <h4> Add A New Interest </h4>
    <%= render "new" %>
  <% end %>


  <h3>
    <%= @organiser.apostrophe_position %> interests
  </h3>
  <% @organiser.interests.each do |i| %>
    <%= "-" + i.tag %>
    <br>
  <% end %>

</div> <!--end of sidebar-->

<div>
  <%= link_to "Back", organiser_path(current_organiser) %>
</div>

<div> 
  <% if @organiser.events.count != 0 %>
  ===Events <%= @organiser.name %> is hosting===
  <br>
  <% @organiser.events.each do |e| %>
  <%= link_to e.title %>
  <% end %>
  <% end %>
</div>

<div> 
  ===Events <%= @organiser.name %> is going to===
  <br>
  <% @organiser.happenings.each do |h| %>
    <%= link_to h.title, organiser_event_path(h.organiser, h) %>
  <br>
  <% end %>
</div>