<% content_for :sidebar do %>
  <div class="sidebar offset1 span3">
    <% if @organiser == current_organiser %>
      <h4> Add A New Interest </h4>
      <%= render "new" %>
    <% end %>

    <h3>
      <%= @organiser.apostrophe_position %> interests
    </h3>
    <% @organiser.interests.each do |i| %>
      <%= "-" + i.tag + " (#{i.id.to_s})" %> <!--printing out ids for bug fixing-->
      <% if @organiser == current_organiser %>
        <%= link_to "Remove", remove_interest_path(@organiser, i) %>
      <% end %>
      <br>
    <% end %>

    <h3> All interests </h3> 
    <% @interests.each do |i| %>
      <%= "-" + i.tag + " (#{i.id.to_s})" %>
       <br>
      <%= "Fans: " + i.organisers.count.to_s %> <!--more bug fixing-->
      <br>
      <br>
    <% end %>
    <div class="end-padding"> </div>
  </div> <!--end of sidebar-->
<% end %>

<div class="span8 main_content">
  <h2>
    <%= @organiser.apostrophe_position %> profile 
  </h2>

  <div> 
  <% if @organiser == current_organiser %>
    <%= link_to "Edit Profile", edit_organiser_path %>
  <% end %>
  </div>

  <div>
    <%= @organiser.bio %>
  </div>

<div>
  <%= link_to "Back to Events", organiser_path(current_organiser) %>
</div>

<div> 
  <% if @organiser.events.count != 0 %>
  ===Events <%= @organiser.name %> is hosting===
  <br>
  <% @organiser.events.each do |e| %>
  <%= link_to e.title %>
  <% end %>
  <% end %>
</div>

<div> 
  ===Events <%= @organiser.name %> is going to===
  <br>
  <% @organiser.happenings.each do |h| %>
    <%= link_to h.title, organiser_event_path(h.organiser, h) %>
  <br>
  <% end %>
</div>

</div> <!--end of main_content-->