<% content_for :sidebar do %>
  <div class="sidebar">
    <% if @organiser == current_organiser %>
      <h4> Add A New Interest </h4>
      <%= render "new" %>
    <% end %>

    <h4>
      <%= @organiser.apostrophe_position %> interests
    </h4>

    <ul class="interests">
      <% @organiser.interests.each do |i| %>
        <li> <%= i.tag + " (#{i.id.to_s})" %> </li> <!--printing out ids for bug fixing-->
        <% if @organiser == current_organiser %>
          <%= link_to "Remove", remove_interest_path(@organiser, i) %>
        <% end %>
      <br>
      <% end %>
    </ul>

    <h4> All interests </h4> 
    <ul>
      <% @interests.each do |i| %>
        <li> <%= i.tag + " (#{i.id.to_s})" %> </li>
        <%= "Fans: " + i.organisers.count.to_s %> <!--more bug fixing-->
        <br>
      <% end %>
    </ul>
    <div class="end-padding"> </div>
  </div> <!--end of sidebar-->
<% end %>

<div class="main_content">
  <h2 class="profile_title">
    <%= @organiser.apostrophe_position %> profile 
  </h2>

  <div> 
  <% if @organiser == current_organiser %>
    <%= link_to "Edit Profile", edit_organiser_path %>
  <% end %>
  </div>

  <div class="bio">
    <%= @organiser.bio %>
  </div>

  <div>
    <%= link_to "Back to Events", organiser_path(current_organiser) %>
  </div>

  <div class="events_hosting"> 
    <% if @organiser.events.count != 0 %>
      <h4 class="events_hosting_title"> Events <%= @organiser.name %> is hosting </h4>
      <ul>
        <% @organiser.events.each do |e| %>
          <li> <%= link_to e.title, organiser_event_path(e.organiser, e) %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="events_attending"> 
    <h4 class="events_attending_title"> <%= @organiser.name %> is going to </h4>
    <ul>
      <% @organiser.happenings.each do |h| %>
        <li> <%= link_to h.title, organiser_event_path(h.organiser, h) %> </li>
      <% end %>
    </ul>
  </div>

</div> <!--end of main_content-->