
Welcome <%= @organiser.name %> ||

<%= link_to "Sign Out #{@organiser.email}", destroy_organiser_session_url %>

<%= link_to "Visit Profile", organiser_profile_path(@organiser) %>

<%= link_to "Create New Event", new_organiser_event_path(@organiser) %>

<br> <!--<<<-->
<br> <!--<<<-->
<br>

===Events You're Hosting===

<% @events.each do |e| %>
  <% if e.organiser == current_organiser %>
    <h2> <%= link_to e.title, organiser_event_path(e.organiser, e) %> </h2>
    <h3> <%= link_to e.url, "http://#{e.url}" %> </h3>
    <div> <%= truncate(e.description, :length => 200) %> 
      <%= link_to "(Continue)", organiser_event_path(e.organiser, e) %> </div>
    <h3> Hosted by: <%=link_to e.organiser.name, organiser_profile_path(e.organiser) %> </h3>
  <% end %>
<% end %>

<br>
===All Other Events===
<% @events.each do |e| %>
  <% if e.organiser != current_organiser %>
    <h2> <%= link_to e.title, organiser_event_path(e.organiser, e) %> </h2>
    <h3> <%= link_to e.url, "http://#{e.url}" %> </h3>
    <div> <%= truncate(e.description, :length => 200) %> 
      <%= link_to "(Continue)", organiser_event_path(e.organiser, e) %> </div>
    <h3> Hosted by: <%=link_to e.organiser.name, organiser_profile_path(e.organiser) %> </h3>
  <% end %>
<% end %>