
<div>
  Welcome <%= @organiser.name %> 
</div>

<br>

===Events You're Hosting===

<% @events.each do |e| %>
  <% if e.organiser == current_organiser %>
    <h2> <%= link_to e.title, organiser_event_path(e.organiser, e) %> </h2>
    <h3> <%= link_to e.url, "http://#{e.url}" %> </h3>
    <div> <%= truncate(e.description, :length => 200) %> 
      <%= link_to "(Continue)", organiser_event_path(e.organiser, e) %> </div>
    <h4> Hosted by: <%=link_to e.organiser.name, organiser_profile_path(e.organiser) %> </h4>
    <div> <b> People going to this event: </b>
      <% e.members.each do |m| %>
        <%= m.name %>
      <% end %>
    </div>
  <% end %>
<% end %>

<br>
===All Other Events===
<% @events.each do |e| %>
  <% if e.organiser != current_organiser %>
    <h2> <%= link_to e.title, organiser_event_path(e.organiser, e) %> </h2>
    <h3> <%= link_to e.url, "http://#{e.url}" %> </h3>
    <div> <%= truncate(e.description, :length => 200) %> 
      <%= link_to "(Continue)", organiser_event_path(e.organiser, e) %> </div>
    <h4> Hosted by: <%=link_to e.organiser.name, organiser_profile_path(e.organiser) %> </h4>

    <% if e.members.include?(current_organiser) %>
      <div class="float-left"> <%= button_to "Cancel Attendance", cancel_organiser_happening_path(current_organiser, e), :class => "btn btn-success disabled" %> </div>
    <% else %>
     <div class="float-left"> <%= button_to "Attend", join_organiser_happening_path(current_organiser, e), :class => "btn btn-success" %> </div> 
    <% end %>

    <div> <%= button_to "Not Interested", organiser_path(current_organiser), :method => :get, :class => "btn btn-danger" %> </div>
   
    <div> <b> People going to this event: </b>
      <% e.members.each do |m| %>
        <%= m.name %>
      <% end %>
    </div>
  <% end %>
<% end %>

<div class="end-padding"> </div>