<% content_for :sidebar do %>

  <%= render "sidebar" %>

<% end %>

<ul class="nav nav-tabs">
    <li><%= link_to "Events Feed", organiser_path(@organiser) %> </li>
    <li><%= link_to "Hosted Events", hosting_path(@organiser) %></li>
    <li><%= link_to "Going To", going_to_path(@organiser) %></li>
  <li class="active">
    <%= link_to "Similar to You", similar_path(@organiser) %> 
  </li>
  <li><%= link_to "Recommended Events", recommended_path(@organiser) %></li>
</ul>


<h3> Similar to <%= @organiser.name %> </h3>
<div class="row">
  <div class="span3">
    <% @similar.each do |o| %>
      <% if o != @organiser %>

    <h4> <%= link_to o.name, organiser_profile_path(o), :class => "name" %> </h4>
    <%= image_tag o.image_url %>
  </div> <!--end of span3-->
  <div> </div>
      <div class="span4">
        <div class="space-top"></div>
        likes: 
        <div class="space"> </div>
        <% o.interests.each do |i| %>
          <%=i.tag%>
        <% end %>
        <div class="space"></div>
        <br>
        <% unless o.events.blank? %>
          <div> <b> Hosting: </b> </div>
          <ul>
          <% o.events.each do |e| %>
            <li> <%= link_to e.title, organiser_event_path(o, e) %> </li>
          <% end %>
          </ul>
        <% end %>

        <div> <b> Going to: </b> </div>
        <ul>
          <% o.happenings.each do |h| %>
            <li> <%= link_to h.title, organiser_event_path(h.organiser, h) %> </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div> <!--end of span4-->
<div> <!--end of row-->