<% content_for :sidebar do %>

  <%= render "sidebar" %>

<% end %>

<ul class="nav nav-tabs">
    <li><%= link_to "Events Feed", organiser_path(@organiser) %> </li>
    <li><%= link_to "Hosted Events", hosting_path(@organiser) %></li>
    <li><%= link_to "Going To", going_to_path(@organiser) %></li>
  <li class="active">
    <%= link_to "Similar to You", similar_path(@organiser) %> 
  </li>
  <li><%= link_to "Recommended Events", recommended_path(@organiser) %></li>
</ul>

<h3> Similar to <%= @organiser.name %> </h3>

<div class="row">
  <% @similar.each do |o| %>
    <% if o != @organiser %>

      <div class="span3 snap-left">
        <h4> <%= link_to o.name, organiser_profile_path(o), :class => "name" %> </h4>
        <%= image_tag o.image_url %>
      </div> <!--end of span3-->
      <div> </div>

      <div class="span4">

        <div class="space-top"></div>
        likes: 
        <div class="space"> </div>
        <% o.interests.each do |i| %>
          <% if current_organiser.interests.include?(i) %>
            <b><%=i.tag%></b>
          <% else %>
            <%= i.tag %>
          <% end %>
        <% end %>
        <div class="space"></div>
        <br>

        <%= render "personal_events", :o => o %>

      </div> <!--end of span4-->
    <% end %> <!-- o != @organiser -->
  <% end %> <!-- @similar.each -->
</div> <!--end of row-->

<div class="end-padding"> </div>