
Welcome <%= @participant.name %> ||

<%= link_to "Sign Out #{@participant.email}", destroy_participant_session_path %>

<%= link_to "Visit Profile", participant_profile_path %>

<br> <!--<<<-->
<br> <!--<<<-->

Your Events || Recommended Events || All Events

<% @events.each do |e| %>
  <h2> <%= e.title %> </h2>
  <h3> <%= e.url %> </h3>
  <div> <%= truncate(e.description, :length => 200) %> </div>
  <div> Hosted by: asldfhasljhd </div>
<% end %>