

<div class="time-sidebar">
  <h3> <%= link_to "Today", events_today_path %> </h3>
  <h3> <%= link_to "Tomorrow", events_tomorrow_path %> </h3>
  <h3> <%= link_to "This Week", events_this_week_path %> </h3>
  <h3> <%= link_to "Next Week", events_next_week_path %> </h3>
  <br>
  <h3> <%= link_to "Past Events", events_past_path %> </h3>
</div>