<h2> <%= @event.title %> </h2>

<h3> <%= link_to @event.url, "http://#{@event.url}" %> </h3>

<h3> Hosted By: <%= link_to @event.organiser.name, organiser_profile_path(@event.organiser) %> </h3>

<%= image_tag @event.image_url %>

<div> <b> Starts: </b> <%= @event.start_date %> </h4> </div>
<br>
<div> <%= @event.description %> </div>

<% if @event.organiser == current_organiser %>
  <div>
    <%= link_to "Edit This Event", edit_organiser_event_path(@event.organiser, @event) %>
  </div>
   <div>
    <%= link_to "Delete This Event", organiser_event_path(@event.organiser, @event), :method => :delete, :class => :destroy %>
  </div>
<% end %>

<div>
  <%= link_to "Back to Events", organiser_path(current_organiser) %>
</div>

<div class="end-padding"> </div>