<!DOCTYPE html>
<html>
<head>
  <title>SocialCalendar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <flash class="notice">
      <%= flash[:noitce] %>
    </flash>
  <% end %>

  <% if flash[:alert] %>
    <flash class="alert">
      <%= flash[:alert] %>
    <flash>
  <% end %>

  <div class="edge-padding">

<%= yield %>
  
  </div>

</body>
</html>
