<!DOCTYPE html>
<html>
<head>
  <title>SocialCalendar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# if organiser_signed_in? %>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav" style="width: 80%">
        <li> <div class="span1"></div> </li>
        <li> <%= link_to "Events Feed", events_all_path, :class => "brand" %> </li>
        <% if current_organiser %>
          <li> <%= link_to "Admin Overview", admin_index_path %> </li>
          <li> <%= link_to "Your profile", organiser_profile_path(current_organiser) %> </li>
          <li><%= link_to "Create New Event", new_organiser_event_path(current_organiser) %></li>
          <li style="float: right;"> <%= link_to "Sign Out #{current_organiser.name}", destroy_organiser_session_path, :method => :delete %></li>
        <% else %>
          <li style="float: right;"> <%= link_to "Sign in as organiser", new_organiser_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
<%# end %>

<div class="row">

  <div class="escape-navbar">

    <div class="span1 gutter-padding"> </div>
    
    <div class="span3">

      <%= yield :sidebar %>

    </div>

    <div class="span8 main-content">

      <%= bootstrap_flash %>

      <%= yield %>

    </div class="end-padding"> <!--end of span 8-->

  </div> <!--end of escape-navbar-->

</div> <!--end of row-->

</body>
</html>
