<!DOCTYPE html>
<html>
<head>
  <title>SocialCalendar</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if organiser_signed_in? %>
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="span1"></div>
    <%= link_to "Events Feed", organiser_path(current_organiser), :class => "brand" %>
    <ul class="nav">
      <li> <%= link_to "Your profile", organiser_profile_path(current_organiser) %> </li>
      <li><%= link_to "Create New Event", new_organiser_event_path(current_organiser) %></li>
      <li><%= link_to "Sign Out #{current_organiser.email}", destroy_organiser_session_path(current_organiser), :class => "offset6" %></li>
    </ul>
  </div>
</div>
<% end %>

<div class="row">
  <div class="span3">
  </div>

  <div class="span9">

  <% if flash[:notice] %>
    <flash class="notice">
      <%= flash[:noitce] %>
    </flash>
  <% end %>

  <% if flash[:alert] %>
    <flash class="alert">
      <%= flash[:alert] %>
    <flash>
  <% end %>

  <div class="escape-navbar">

  <%= yield %>

  </div> <!--end of escape-navbar-->

  </div> <!--end of span 9-->

</body>
</html>
